@(brokerList: scala.collection.mutable.ListBuffer[models.brokers.Broker])

@main(title = ".:: Kafka Admin - Home ::.") {
<!-- Tables
================================================== -->
<section id="tables">
  <div class="page-header">
    <h1>Brokers information</h1>
  </div>
  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th>Id</th>
        <th>Ip</th>
        <th>Port</th>
        <th></th>      
      </tr>
    </thead>
    <tbody>
		 @for(broker <- brokerList) {
      <tr>
        <td>@broker.id</td>
        <td>@broker.ip</td>
        <td>@broker.port</td>
        <td></td>
      </tr>
	} 	
    </tbody>
  </table>
</section>
}