@main(title = ".:: Kafka Admin - Home ::.") {

<!-- Typography
================================================== -->
<section id="typography">
  <div class="page-header">
    <h1>Kafka Admin Tool</h1>
  </div>

  <!-- Headings & Paragraph Copy -->
  <div class="row">

    <div class="span4">
      <div class="well">
        <h1><a href="/web/documentation#rest_api">Rest API</a></h1>
        <p>
        The kafka admin tool will offer you the posibility to interact with your kafka cluster throught a set of rest API.
        Documentation about our rest API can be found <a href="">here</a>
        </p>
      </div>
    </div>
    
     <div class="span4">
      <div class="well">
        <h1><a href="/web/documentation#web_admin">Web Admin</a></h1>
        <p>
        The kafka admin tool will also offer you the posibility to interact with your kafka cluster throught our admin ui.
        Documentation about our rest API can be found <a href="">here</a>
        </p>
      </div>
    </div>
    
    <div class="span4">
      <div class="well">
        <h1><a href="/web/documentation#best_practices">Best Practices</a></h1>
        <p>
        The kafka admin tool will deliver continous best practices about how to build your kafka cluster more eficiently 
        Go to kafka best practices by clicking <a href="">here</a>
        </p>
      </div>
    </div>

    <!--div class="span4">
      <h3>Example body text</h3>
      <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
      <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui.</p>
    </div-->

    <!--div class="span4">
      <h3>Example addresses</h3>
      <address>
        <strong>Twitter, Inc.</strong><br>
        795 Folsom Ave, Suite 600<br>
        San Francisco, CA 94107<br>
        <abbr title="Phone">P:</abbr> (123) 456-7890
      </address>
      <address>
        <strong>Full Name</strong><br>
        <a href="mailto:#">first.last@@gmail.com</a>
      </address>
    </div-->

  </div>
  
  <div class="row">
    <div class="span6">
      <blockquote>
        <p>
        The kafka admin tool saved us hours from managing our kafka cluster manually. Its a higly recomended tool for any big data organization.
        </p>
        <small>Guy Doulberg <cite title="Conduit Data Services team leader">Conduit Data Services team leader</cite></small>
      </blockquote>
    </div>
  </div>

</section>
}