@(brokerList: scala.collection.mutable.ListBuffer[models.brokers.Broker])

@main(title = ".:: Kafka Admin - Brokers ::.", menuItem="brokers"){
 
<!-- Tables
================================================== -->
<section id="tables">
  <div class="page-header">
    <h1>Brokers information</h1>
  </div>
  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr class="text-center">
        <th >Id</th>
        <th >Ip</th>
        <th >Port</th>     
      </tr>
    </thead>
    <tbody>
		 @for(broker <- brokerList) {
      <tr >
        <td>@broker.id</td>
        <td>@broker.ip</td>
        <td>@broker.port</td>
      </tr>
	} 	
    </tbody>
  </table>
</section>
}