@(brokersInfo: scala.collection.mutable.ListBuffer[models.topics.BrokerTopicItem], topicName: String)
@import views.html.brokers.brokermodal

@main(title = ".:: Kafka Admin - Topics ::.", menuItem="topics") {
<!-- Tables
================================================== -->

@brokermodal()
 
<section id="tables">
  <div class="page-header">
    <h1>Registered brokers for topic: @topicName</h1>
  </div>
  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th>Broker Name</th>
        <th>Num Of partitions</th>      
      </tr>
    </thead>
    <tbody>
		 @for(brokerInfo <- brokersInfo) {
      <tr>
        <td><a href="javascript:showBrokerInfo('@brokerInfo.brokerId');">@brokerInfo.brokerId</a></td>
        <td>@brokerInfo.numOfPartitions</td>
      </tr>
	  } 	
    </tbody>
  </table>
</section>
}