@(topicList: scala.collection.mutable.ListBuffer[String])

@main(title = ".:: Kafka Admin - Topics ::.", menuItem="topics") {
<!-- Tables
================================================== -->
<section id="tables">
  <div class="page-header">
    <h1>Registered Topics</h1>
  </div>
  <table class="table table-bordered table-striped table-hover table-layout: fixed;">
    <thead>
      <tr class="text-center">
        <th>Name</th>
        <th></th>      
      </tr>
    </thead>
    <tbody>
		 @for(topic <- topicList) {
      <tr>
        <td style="overflow:hidden;">@topic</td>
        <td style="overflow:hidden;width: 5%"><a class="btn btn-info" href="/web/topics/@topic">Brokers</a></td>
      </tr>
	} 	
    </tbody>
  </table>
</section>
}